
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
}

.nav-item {
  text-decoration: none;
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.nav-item .icon {
  font-size: 22px;
}

.nav-item.active {
  color: #4bbfd8;
}

.nav-item.active .indicator {
  position: absolute;
  bottom: -12px;
  width: 40px;
  height: 4px;
  background: #4bbfd8;
  border-radius: 2px;
}



   .scroller {
  margin-top: 75px;
  width: 100%;
  overflow: hidden;
  background: #467cba7d;
  padding: 10px 0;
}

.scroller-track {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.scroller-item {
  font-size: 18px;
  font-weight: bold;
  color: rgb(6, 6, 6);
  text-transform: uppercase;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}